.MyComponent__table
{
  border: double gray 3px;
  padding: 3px 7px;
  background-color: #F0F0F0;
  width: 500px;
  border-collapse: collapse;
  margin: auto;
}

.MyComponent__table__heading
{
  font-style: italic;
  color: green;
  font-size: 24px;
}



.MyComponent__table tr,td {
  padding: 3px; 
  border: 1px solid black; 
  text-align: center;
  padding: 10px;
}